<h3 id="ry">Ryan Bird</h3>
<h4 id="full"><span>FULL STACK DEVELOPER</span></h4>

<div id="main">
<div id="left_side">

	<p class="p_skill">PHP</p>
	<p class="p_skill">CodeIgnitor</p>
	<p class="p_skill">Python</p>
	<p class="p_skill">Django</p>
	<p class="p_skill">Mysql</p>
	<p class="p_skill">Apache</p>

</div>
<img id="ryan" src="/ryan.jpg">
<div id ="right_side">
	<p class="p_skill">Node.js</p>
	<p class="p_skill">Express</p>
	<p class="p_skill">MongoDB</p>
	<p class="p_skill">Angular.js</p>
	<p class="p_skill">Javascript</p>
	<p class="p_skill">GitHub</p>
</div>
</div>
<div id="div_code">
	<h4 id="job">"I am searching for a job where I can utilize my full-stack capabilities"</h4>
	<a href="#/code"><button id = "code1">Ryan's favorite code</button></a>
</div>
<div>
<!-- <ul id ="top_list"> -->
		<!-- <li>
			<a href="https://www.linkedin.com/in/ryan-bird-847487109"><img id="in_logo" src="in.png"></a>
		</li>
		<li id="link">
			<a href="#/projects"><h6>Projects</h6></a>
		</li>
		<li>
			<a href="https://github.com/Ryan-B"><img class="logo" src="github.png"></a>
		</li>
	</ul> -->
<div>



<style type="text/css">

a{
	display: block;
	margin: 0 auto;
	height: 20px;

}
#ryan{
	border:4px solid forestgreen;
	height: 23%;
	width: 23%;
	display: inline-block;
	margin: 0 5% 0 5%;
	
}
span{
	color; black;
}
#ry{
	margin: 0;
	font-family: 'Rock Salt', cursive;
	color: white;
}
#link{
	margin-top: 0;
	height: 50%;
}
#top_list{
	margin: 0;
	padding-left: 0;
	height: 50%;
}
#full{
	margin-top: 1%;
	margin-bottom: 1%;
	font-family: 'Gloria Hallelujah', cursive;
	color: forestgreen;
}
#code1{
	
	display: inline-block;
	background-color: forestgreen;
	border-radius: 6px;
	margin-top: 0;
	padding-top: 0;
	vertical-align: top;
	color: white;
}
#code1:hover{
	
	color: dodgerblue;
	display: inline-block;
}
#left_side{
	
	margin: 0;
	padding: 0;
	display: inline-block;
}
#right_side{
	margin: 0;
	padding: 0;
	display: inline-block;
}
#php{
	height: 20%;
	width: 20%;
}
#ci{
	height:20%;
	width: 20%;
}
#python{
	height: 16%;
	width: 15%;
}
#django{
	height: 20%;
	width: 20%;
}
.p_skill{
	font-size: 14pt;
}
#job{
	color: lightgrey;
	font-size:16pt;
	margin-top: 0;
	padding-top: 0;
	font-family: courier;
}
#main{
	vertical-align: top;
}
</style>