<h3 id="ry">Ryan Bird</h3>
<ul id ="top_list">
		<li>
			<a href="https://www.linkedin.com/in/ryan-bird-847487109"><img id="in_logo" src="in.png"></a>
		</li>
		<li id="link">
			<a href="http://dawg-chat.herokuapp.com"><h6>Projects</h6></a>
		</li>
		<li>
			<a href="https://github.com/Ryan-B"><img class="logo" src="github.png"></a>
		</li>
	</ul>

<img id="ryan" src="/ryan.jpg">
<h4 id="full"><span>FULL STACK DEVELOPER</span></h4>
<a href="#/code"><h6>Check out Ryan's favorite code</h6></a>



<style type="text/css">

a{
	display: block;
	margin: 0 auto;

}
#ryan{
	border:4px solid black;
	
}
span{
	color; black;
}
#ry{
	margin-bottom: 0;
}
#link{
	margin-top: 0;
	height: 50%;
}
#top_list{
	margin: 0;
	padding-left: 0;
	height: 50%;
}
#full{
	margin-top: 3%;
	margin-bottom: 3%;
}
</style>